/api.properties


# Windows shortcuts
*.lnk

.gradle
build/

# project run
/tools/analyze-mc-imports.ps1


/project/forge/1.19.2-0.5.1i/run/
/project/forge/1.20.1-0.5.1j/run/
/project/forge/1.20.1-6.0.x/run/
/project/neoforge/1.21.1-6.0.x/run/
/project/forge/1.18.2-0.5.1i/run/
/project/fabric/1.19.2-0.5.1i/run/
/project/fabric/1.20.1-6.0.x/run/
